@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
body, html {
    margin: 0;
    padding: 0;
    font-family: Ubuntu;
    color: #293359;
}
.back-button {
    border-radius: 5px;
}
a {
    text-decoration: none;
    color: inherit
}
a header {
    color: white;
    font-family: "Ubuntu", sans-serif;
    background-color: #ce1d41;
    margin: 0;
    width: 100vw;
    box-shadow: #ce1d41 -10px 10px 10px 0px;
    height: fit-content;
}
a header h1 {
    margin: 0;
    padding: 10px;
    display: inline-block;
}
.stop-id {
    color: #ce1d41;
    display: inline-block;
    margin-right: .3em;
}
.stop-name {
    display: inline-block;
}
.path-name {
    background-color: #293359;
    color: white;
    text-align: center;
    font-size: 20px;
}
.path {
    border: 5px solid #293359;
    margin-bottom: 20px
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .stop {
        font-size: 3em;
    }
    header {
        font-size: 3em;
        width: 100vw;
    }
    .line-header {
        font-size: 5em !important;
        text-align: center;
        border-radius: 30px !important;
    }
    .line-box{
        width: 100vw;
        margin: 0;
        padding: 0;
        height: fit-content;
    }
    .line {
        padding: 0;
        margin-top: 10px;
        height: fit-content;
        border-radius: 30px !important;
    }
    .line-header {
        font-size: 1.2em;
        overflow-x: hidden;
        height: 3em;
    }
    .path-name {
        font-size: 4.5em;
        margin: 0
    }
    .path {
        border: none
    }
}
@media (-webkit-max-device-pixel-ratio: 2) {
    .path-name {
        font-size: 20px;
        margin: 0;
        padding: .3em;
        text-align: left;
    }
    main {
        display: flex !important;
        flex-wrap: wrap;
        flex-basis: initial;
        justify-content: center;
    }
    .path {
        display: block;
        margin: 5px;
        border: 2px solid #293359;
        border-radius: 5px;
        margin-top: 20px;
        min-width: 300px;
        flex: 1;
    }
}
